[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "2.4.1"
numpy = "2.1.1"
tiktoken = "0.8.0"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.3"
